{{!-- Displaying all posts by the logged in user, if there are no posts, none will show --}}
<h2 class="card-header text-center">Your Dashboard</h2>
{{#each posts as |post|}}
<a href="/dashboard/{{post.post_id}}" style="text-decoration:none">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card col-9">
                <h5 class="card-header" style="color:black">{{post.title}}</h5>
                <div class="card-body">
                    <h5 class="card-title" style="color:black">{{post.content}}</h5>
                    <p class="card-text" style="color:black">Posted By: {{post.user.username}} on {{post.created}}</p>
                </div>
            </div> 
        </div>  
    </div>
</a>
{{!-- Displaying Comments for posts if post has comments --}}
{{#if post.comments}}
    {{#each post.comments}}
        <div class="row justify-content-center">
            <div class="card col-7">
                <h5 class="card-header" style="color:black">Comment</h5>
                <div class="card-body">
                    <h5 class="card-title" style="color:black">{{comment}}</h5>
                    <p class="card-text" style="color:black">Posted By: {{user.username}} on {{created}}</p>
                    {{!-- {{#if user.username}} --}}
                        {{!-- <div class="row text-center">
                            <a class="comment-id delete-comment-btn" value="" style="color:red" >Delete Comment{{comment_id}}</a>
                        </div> --}}
                    {{!-- {{/if}} --}}
                </div>
            </div> 
        </div> 
    {{/each}}
    {{/if}}
{{/each}}

{{!-- New post button --}}
<a href="/dashboard/{{post.id}}" style="text-decoration:none">
    <div class="container-fluid">
        <div class="container-fluid" style="width: 30%">
            <div class="row justify-content-center text-center">
                <a href="/user/post">
                    <button type="button" class="btn btn-dark">Add New Post</button>
                </a>
            </div>
        </div>
    </div>
</a>