{{!-- Page with individual post and ability to add a comment --}}
<h2 class="card-header text-center">Blog Post</h2>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card col-9">
            <h5 class="card-header" style="color:black">{{post.title}}</h5>
            <div class="card-body">
                <h5 class="card-title" style="color:black">{{post.content}}</h5>
                <p class="card-text" style="color:black">Posted By: {{post.user.username}} on {{post.created}}</p>
            </div>
        </div> 
    </div>  
{{!-- If post has comments then display comments --}}
    {{#if post.comments}}
    {{#each post.comments}}
        <div class="row justify-content-center">
            <div class="card col-7">
                <h5 class="card-header" style="color:black">Comment</h5>
                <div class="card-body">
                    <h5 class="card-title" style="color:black">{{comment}}</h5>
                    <p class="card-text" style="color:black">Posted By: {{user.username}} on {{created}}</p>
                    {{!-- {{#if user.username}} --}}
                        {{!-- <div class="row text-center">
                            <a class="comment-id delete-comment-btn" value="" style="color:red" >Delete Comment{{comment_id}}</a>
                        </div> --}}
                    {{!-- {{/if}} --}}
                </div>
            </div> 
        </div> 
    {{/each}}
    {{/if}}

    <div class="row justify-content-center">
        <div class="col-7 text-center">
            <h5>Add a Comment</h5>
            <input class="form-control" type="text" id="comment" placeholder="Comment">
        </div>
    </div>
    <div class="container-fluid" style="width: 30%">
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-dark comment-post-id" value="{{post.post_id}}"id="comment-btn">Comment</button>
        </div>
    </div>
</div>

<script src="/js/newcomment.js"></script>
<script src="/js/deletecomment.js"></script>
