
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card col-9">
            <h5 class="card-header" style="color:black">{{post.title}}</h5>
            <div class="card-body">
                <h5 class="card-title" style="color:black">{{post.content}}</h5>
                <p class="card-text" style="color:black">Posted By: {{post.user.username}} on {{post.created}}</p>
            </div>
        </div> 
    </div>  

    <div>
        Previous Comments: {{post.comments.comment}} 
        By: {{post.comments.user.username}} on {{post.comments.created}}
    </div>

    <div class="row justify-content-center">
        <div class="col-7">
            <label>Add a Comment</label>
            <input type="username" class="form-control" type="text" id="comment" placeholder="Comment">
        </div>
    </div>
    <div class="container-fluid" style="width: 30%">
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-dark" id="comment-btn">Comment</button>
        </div>
    </div>

    {{!-- <div class="row justify-content-center">
        <h5>Add a Comment:</h5>
        <input class="form-control" type="text" placeholder="Comment" id="comment">
        <button type="submit" class="btn btn-dark" id="comment-btn">Comment</button>
    </div> --}}
</div>

<script src="/js/newcomment.js"></script>
